$main-color: #ededed;
$page-animation: all .25s;
$content-bg: #fff;

// sidebar vars
$sidebar-bg: #303841;
$sidebar-title-color: #ffc12d;
$sidebar-link-color: #fff;
$sidebar-link-bg_active: #442a9d;
$sidebar-link-border_active: #ffc12d;

// topbar vars
$topbar-border-colors: #ededed;
$topbar-input-color: #999;
$breadcrums-color: #4f4f4f;

// notifications vars
$notifications-color: #dedede;
$notifications-msg: #f14e95;

// customers vars
$btn-bg: #303841;