
<div class="main-container">
  <div class="customers-wrap"><img class="customers-avatar" src="./src/images/customer-avatar.png" alt="customer"/>
    <div class="customers-section">
      <div class="customers-name"><span>Max Jones</span><span class="customers-status">Gold</span></div>
      <div class="customers-position">Sales & Marketing</div>
    </div>
    <div class="customers-section">
      <div class="customers-contact">
        <div class="customers-contact-title">phone</div>
        <div class="customers-contact-info">(+31) 140 175 468</div>
      </div>
      <div class="customers-contact">
        <div class="customers-contact-title">Address</div>
        <div class="customers-contact-info">Binnenweg 50, Rotterdam</div>
      </div>
      <div class="btn-wrap"><a class="btn" href="javascript:void(0);">create quote</a></div>
    </div>
  </div>
  <ul class="tabs">
    <li class="tabs-item"><a class="tabs-link active" href="javascript:void(0);">Overview</a></li>
    <li class="tabs-item"><a class="tabs-link" href="javascript:void(0);">Orders</a></li>
    <li class="tabs-item"><a class="tabs-link" href="javascript:void(0);">Payments</a></li>
  </ul>
</div>