
<div class="sidebar">
  <h1 class="sidebar-title">CRM</h1>
  <ul class="sidebar-menu">
    <li class="sidebar-menu-item"><a class="sidebar-link" href="javascript:void(0);"><i class="fa fa-tachometer"></i><span>Dashboard</span></a></li>
    <li class="sidebar-menu-item"><a class="sidebar-link" href="javascript:void(0);"><i class="fa fa-pie-chart"></i><span>Reports</span></a></li>
    <li class="sidebar-menu-item"><a class="sidebar-link active" href="javascript:void(0);"><i class="fa fa-briefcase"></i><span>Customers</span></a></li>
    <li class="sidebar-menu-item"><a class="sidebar-link" href="javascript:void(0);"><i class="fa fa-calendar"></i><span>Calendar</span></a></li>
  </ul>
</div>