
<div class="topbar">
  <ul class="breadcrums">
    <li class="breadcrums-item"><a class="breadcrums-link" href="javascript:void(0);"><span>Customers</span><i class="fa fa-chevron-right"></i></a></li>
    <li class="breadcrums-item"><a class="breadcrums-link" href="javascript:void(0);"><span>Max Jones</span><i class="fa fa-chevron-right"></i></a></li>
  </ul>
  <div class="topbar-section">
    <form class="search-wrap" action="#">
      <input class="search-input" type="text" placeholder="search" id="search-input"/>
      <label class="search-label" for="search-input"><i class="fa fa-search"></i></label>
    </form>
    <div class="notifications"><i class="fa fa-bell"></i><span class="notifications-msg">4</span></div>
    <div class="user"><img class="user-avatar" src="./src/images/avatar.png" alt="user"/><span class="user-name">Hello Lauren</span></div>
  </div>
</div>