- var pageTitle = 'CRM-system'

doctype
html(lang="en")
    head
        link(rel='stylesheet' href='./css/index.css')
        link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
        title #{pageTitle}
    body
        .wrap
            include templates/sidebar
            .content
                include templates/topbar
                include templates/main